:root {
    --padding-button: 5px 20px 5px 20px;
}

/* link Default */
a {    
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

}

/* Bouton Ajouter */

.button_add {    

    padding: var(--padding-button);
    background-color: rgb(0, 72, 255);
    color: white;
}

.button_add:hover {
    background-color: rgb(51, 108, 252);
}

/* Bouton Mofifier */

.button_edit {    

    padding: var(--padding-button);
    background-color: rgb(255, 179, 0);
    color: white;
}

.button_edit:hover {
    background-color: rgb(247, 199, 86);
}

/* Bouton Supprimer */

.button_remove {    
    border: none;
    padding: var(--padding-button);
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
}

.button_remove:hover {
    background-color: rgb(253, 74, 74);
}

/* Groupe de boutons */

.buttons {
    margin-top: 20px;
    display: inline-flex;
}

/* Bouton Default */

input[type="submit"], input[type="button"] {
    padding: var(--padding-button);    
    color: white;
    border: none;
    cursor: pointer;
}

/* Bouton Sauver */

.button_save {      
    background-color: rgb(4, 172, 21);
}

.button_save:hover {
    background-color: rgb(9, 217, 30);
}

/* Bouton Modifier */

.button_modifier {      
    background-color: rgb(255, 179, 0);
}

.button_modifier:hover {
    background-color: rgb(247, 199, 86);
}

/* Bouton Supprimer */

.button_delete {    
    background-color: rgb(255, 0, 0);
}

.button_delete:hover {
    background-color: rgb(253, 74, 74);
}

/* Bouton Annuler */

.button_cancel {    
    background-color: rgb(147, 146, 146);
}

.button_cancel:hover {
    background-color: rgb(192, 192, 192);
}

/* Bouton PDF */

.button_pdf {    
    padding: var(--padding-button);
    background-color: rgb(94, 0, 172);
    color: white;
}

.button_pdf:hover {
    background-color: rgb(118, 3, 212);
}

