form {
    background-color: whitesmoke;
    padding: 20px;
    min-width: 40vw;
}

input, select {
    display: block;
    margin: 5px 5px 5px 0;
    height: 30px;
}

label {
    display: flow-root;
    text-align: left;
    font-weight: bold;
}
