header>h1 {
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
    color: #3c56a5;
    font-weight: 800;
}

header>nav {
    background-color: #d4d1d1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>nav>a {
    display: block;
    color: #3c56a5;
    font-weight: bold;
    padding:  16px;
    text-decoration: none;
}

header>nav>a:hover {
    background-color: darkgray;
    color: white;
}

.name_user {
    min-height: 5vh;
    background-color: darkgray;
    color: #363636;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    font-weight: 600;
}

.name_user-text {
    margin-left: 10px;
}